@import url(https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css);

body {
margin:0;
padding:0;
}
nav, div, header, section, footer {
box-sizing:border-box;
}

nav {
z-index:3;
position: relative;
float:left;
width:20%;
background:#fff;
box-shadow: 0 1px 40px 0 #ccc;
height:100vh;
}

nav #new {
box-shadow: 0 1px 1px 0 #ccc;
display: block;
background:#FF5A60;
padding:20px;
padding-left:40px;
text-align: left;
color:#fff;
text-decoration: none;
font-weight: 500;
}

nav #new i {
padding-right:15px;
font-size:20px;
}

nav ul#menu1 {
text-align: left;
list-style-type: none;
padding:0;
margin:30px 0;
}
nav ul#menu1 li {
display: block;
}
nav ul#menu1 li a {
display: block;
padding:10px 0;
padding-left:40px;
text-decoration: none;
color:#777;
position: relative;
}
nav ul#menu1 li a:hover {
    color:#555;
    border-left: 5px solid #34b3a0;
    background:#f8f8f8;
}
nav ul#menu1 li a.active {
    background:#00B6FD;
    font-weight: bolder;
    color: #f8f8f8;
    border-left: 5px solid #03332c;
}

nav ul#menu1 li a span {
background:rgb(253, 0, 0);
border-radius: 20px;
padding:5px 8px;
color:#fff;
font-family: monospace;
position:absolute;
right:30px;
}


nav ul#menu2{
list-style-type: none;
padding:0;
margin:40px 0;
}
nav ul#menu2 li {
display: block;
}
nav ul#menu2 li a {
text-decoration: none;
color:#777;
display: block;
padding:10px 0;
padding-left:40px;
}

nav ul#menu2 li a:hover {
color:#555;
}
nav ul#menu2 li a:before {
margin-right: 20px;
content: "";
height:10px;
width:10px;
display: inline-block;
border-radius: 100%;
}



nav ul#menu2 li:nth-of-type(1) a:before {
background:#5E99F4;
}


nav ul#menu2 li:nth-of-type(2) a:before {
background:#E94434;
}


nav ul#menu2 li:nth-of-type(3) a:before {
background:#FCC230;
}


nav ul#menu2 li:nth-of-type(4) a:before {
background:#55AF7C;
}

.new-group
{
    margin-left: 310px;
    background: #fff;
    color: black;
    max-width: 50%;
    width: 50%;
    margin-top: 30px;
    margin-left: 475px;
    padding: 20px;
}

.new-group  .title { 
    color:  rgb(20, 156, 190);
    text-transform: uppercase;
    letter-spacing: 2px; 
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 25px; 
    text-align: center;
  }

.new-group  .input-fields .label 
{
    color: #524a4a; 
    font-size: 0.8rem; 
    letter-spacing: 2px; 
    text-transform: uppercase;  
 }

 .new-group  .input 
 { 
    margin: 5px 0 15px; 
    width: 100%; 
    padding: 8px;
    font-size: 0.9rem; 
    font-family: 'Montserrat';
    font-weight: bold; 
    letter-spacing: 0.1rem;
}

button 
{
  background-color: transparent;
  padding: 0;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.new-group .forms-buttons-action 
{
  background-color: rgb(20, 156, 190);
  border-radius: 3px;
  padding: 10px 20px;
  margin-top: 15px;
  margin-left: 15rem;
  font-size: 0.9rem;
  font-family: 'Laila', helvetica;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease-in-out;
}

.new-group .forms-buttons-action a
{
    text-decoration: none;
    color: #fff;
    text-align: center;
    padding-left: 8px;
}

.new-group .forms-buttons-action:hover {
    background-color: rgb(7, 106, 131);
    cursor: pointer;
}

/* For mobile phones: */
@media only screen and (max-width:620px) {
     nav, section.compose-email {
        width: 100%;
    } 
}